PORT=3001
DATABASE_URL=postgresql://postgres:1998@localhost:5432/halaqa
QURAN_CLIENT_ID=c23691ec-64bf-4162-8e0e-dd1aa6d9f59d
QURAN_CLIENT_SECRET=pB4MJd.WZocZzpw0FwzHNA-Wtw
QURAN_REDIRECT_URI=http://localhost:3001/api/auth/callback          
QURAN_TOKEN_URL=https://oauth2.quran.foundation/oauth2/token
QURAN_AUTH_URL=https://oauth2.quran.foundation/oauth2/auth
QURAN_API_BASE=https://prelive-oauth2.quran.foundation
JWT_SECRET=e7cdbad0f6939b4c4bf01fd22714fa1f31a1f751a822d7ceb1475a3da3f37fe51b9430e3c0ccf13afd561b4202daf6f349868248524d5e1378cad92edfc70c02
FRONTEND_URL=http://localhost:5173
